@page "/testjs"
@inject IJSRuntime JSRuntime

<h3>3D Cube with Babylon.js</h3>
<h2>Salle D251 </h2>

<div style="width: 100%; height: 600px; border: 1px solid black;">
    <canvas id="babylonCanvas" style="width: 100%; height: 100%;"></canvas>

</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await JSRuntime.InvokeVoidAsync("initializeBabylon", "babylonCanvas");
            }
            catch (JSException jsEx)
            {
                Console.WriteLine($"Erreur JS : {jsEx.Message}");
            }
        }
    }

}
